
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


pids/
*.pid
*.seed
*.pid.lock


coverage/
*.lcov
.nyc_output/


build/Release/


node_modules/
bower_components/
jspm_packages/
web_modules/


*.tsbuildinfo


.npm/
.yarn/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*


.eslintcache


.node_repl_history


*.tgz


.env
.env.test
.env.production


.next/
.out/
.nuxt/
dist/
.vuepress/dist/
.parcel-cache/
.cache/


.serverless/


.fusebox/


.dynamodb/


.vscode/
.vscode-test/


.DS_Store